{% extends "home/base.html" %}
{% block content %}
    <h1> About The Site </h1>
    <legend class="border-bottom mb-4"></legend>
    <p>The goal of this site is to extend the brotherhood of Sigma
    Chi at UVa through the power of networking. We have compiled information from both
    undergraduate brothers and alumni to allow us to learn from one another. For young brothers, we
    can learn from the real world success our alumni in their careers. For alumni, they serve as
    valuable mentors for younger members and promote the success of our chapter in the workplace.</p>

<p>The main functionality of the site allows registered members to view current and former members as
well as search for members using keywords like name, current occupation, school year, etc as seen below. </p>

<img src="/media/example_thumb.PNG">

{% endblock content %}
