{% extends "home/base.html" %}
{% block content %}
    <h1> Contact Us </h1>
    <legend class="border-bottom mb-4"></legend>
    <h3> Matthew Greason </h3>
    <div class="media">
        <img class="rounded-circle account-img" src="/media/greasonprof.jpg" width="300" height="300">
    <p>Matt is a second year at UVa and a brother of Sigma Chi who came up with the idea for this website. The idea came to him when
      he was looking for a job and trying to learn more about different industries.He wanted to find people who were willing to help
      and could relate to his perspective. </p>
    </div>
<p>If you have any questions or comments, please send an email to mbg6ka@virginia.edu
    </p>
    <h3> Jack Good </h3>
    <div class="media">
        <img class="rounded-circle account-img" src="/media/goodprof.jpeg" width="300" height="300">
      <p> Also a second year at UVa, Jack is a CS major in the School of Engineering who created this website. Jack’s
          technical expertise and desire to learn made him essential to the creation of the Psi Chapter Network. </p>
  </div>
<p>If you have any questions or comments, please send an email to jg8dp@virginia.edu</p>


{% endblock content %}
